.Mobileimg{
    background-image: url("https://img.freepik.com/free-psd/smartphone-mockup_1310-812.jpg?size=626&ext=jpg&ga=GA1.2.12858738.1668947192&semt=sph");
    height: 100vh;
    background-size: cover;
    
}
.cost{
    background-color:rgb(128, 240, 143);
    height: 200px;
    padding:15px;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
}
.camera{
    font-family: 'Times New Roman', Times, serif;
    font-weight: bold;
    color: black;
}
.components{
    font-family: 'Times New Roman', Times, serif;
    font-weight: bold;
    color: black;
}
.button{
    width:100x;
    padding:20px;
    
   
   
   
}

